{% extends "front/base.html.twig" %}


{% block main %}


	{% for product in products %}
		<h2>{{product.name}}</h2>
		<h3>{{product.price}}</h3>
		<h3>{{product.type.name}}</h3>
		<h3>{{product.brand.name}}</h3>
		<a
			href="{{ path("product_like", {'id' : product.id}) }}" class="btn btn-link js-likes">
			{# app.user est la variable qui enregistre le user connecté si 
																																																																				personne n'est connecté la variable est vide.#}
			{% if app.user and product.isLikedByUser(app.user) %}
				<i class="fas fa-thumbs-up"></i>
			{% else %}
				<i class="far fa-thumbs-up"></i>
			{% endif %}
			<span class="js-likes">{{ product.likes | length }}</span>
			<span class="js-label">J'aime</span>
		</a>
		<hr>
	{% endfor %}


	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>

		function onClickLike(event) {
event.preventDefault();

const url = this.href;
const spanCount = this.querySelector('span.js-likes');
const icone = this.querySelector('i');

axios.get(url).then(function (response) {
spanCount.textContent = response.data.likes;

if (icone.classList.contains('fas')) {
icone.classList.replace('fas', 'far');
} else {
icone.classList.replace('far', 'fas');
}
}).catch(function (error) {
if (error.response.status === 403) {
window.alert("Connexion requise");
} else {
window.alert("Une erreur s'est produite");
}

})
}

document.querySelectorAll('a.js-likes').forEach(function (link) {
link.addEventListener('click', onClickLike);
})
	</script>
{% endblock %}
