{% extends "front/base.html.twig" %}

{% block main %}

	<h2>{{ product.name }}</h2>
	<h3>{{ product.price }}</h3>
	<h3>{{ product.stock }}</h3>
	<p>{{ product.description }}</p>
	<h3>{{ product.type.name }}</h3>
	<h3>{{ product.brand.name }}</h3>

	{% for image in product.media %}

		<img src="{{ asset('media/' ~ image.src) }}" alt="{{ image.alt }}">

	{% endfor %}

{% endblock %}
